In [2]:
text = 'Hi Everyone! This is Hackers Realm. We are learning Natural Language Processing. We reached 1000000 views.'

In [3]:
text.split(' ')

['Hi',
 'Everyone!',
 'This',
 'is',
 'Hackers',
 'Realm.',
 'We',
 'are',
 'learning',
 'Natural',
 'Language',
 'Processing.',
 'We',
 'reached',
 '1000000',
 'views.']

In [4]:
from nltk import sent_tokenize, word_tokenize

In [ ]:
#stemming

In [8]:
from nltk.stem import PorterStemmer, SnowballStemmer
ps = PorterStemmer()

In [9]:
word = ('eats')
ps.stem(word)

'eat'

In [10]:
word = ('eaten')
ps.stem(word)

'eaten'

In [ ]:
#Part of Speech Tagging (POS)

In [12]:
from nltk import pos_tag

In [13]:
pos_tag(['fighting'])

[('fighting', 'VBG')]

In [14]:
text = 'Hi Everyone! This is Hackers Realm. We are learning Natural Language Processing. We reached 1000000 views.'

In [ ]:
#Text Preprocessing (Clean Data)

In [19]:
import pandas as pd
import string
df = pd.read_csv('Twitter Sentiments.csv')
# drop the columns
df = df.drop(columns=['id', 'label'], axis=1)
df.head()

                                               tweet
0   @user when a father is dysfunctional and is s...
1  @user @user thanks for #lyft credit i can't us...
2                                bihday your majesty
3  #model   i love u take with u all the time in ...
4             factsguide: society now    #motivation

In [20]:
df['clean_text'] = df['tweet'].str.lower()
df.head()

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,@user when a father is dysfunctional and is s...
1,@user @user thanks for #lyft credit i can't us...,@user @user thanks for #lyft credit i can't us...
2,bihday your majesty,bihday your majesty
3,#model i love u take with u all the time in ...,#model i love u take with u all the time in ...
4,factsguide: society now #motivation,factsguide: society now #motivation

In [21]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [22]:
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('', '', punctuations))

In [23]:
df['clean_text'] = df['clean_text'].apply(lambda x: remove_punctuations(x))
df.head()

,tweet,clean_text
0,@user when a father is dysfunctional and is s...,user when a father is dysfunctional and is so...
1,@user @user thanks for #lyft credit i can't us...,user user thanks for lyft credit i cant use ca...
2,bihday your majesty,bihday your majesty
3,#model i love u take with u all the time in ...,model i love u take with u all the time in u...
4,factsguide: society now #motivation,factsguide society now motivation

In [ ]:
#Removal of Frequent Words

In [25]:
from collections import Counter
word_count = Counter()
for text in df['clean_text']:
    for word in text.split():
        word_count[word] += 1
        
word_count.most_common(10)

[('user', 17473),
 ('the', 10139),
 ('to', 9825),
 ('a', 6416),
 ('i', 5745),
 ('you', 5407),
 ('and', 4871),
 ('in', 4638),
 ('for', 4479),
 ('is', 4176)]